page-open-article {
    .article {
        width: 100%;
        padding: 3%;
        background: #fff;
        margin-bottom: 12px;
        header {
            width: 100%;
            overflow: hidden;
            img {
                width: 30px;
                height: 30px;
                border-radius: 9999px;
                float: left;
                margin-right: 12px;
            }
            p {
                margin: 0;
                float: left;
                line-height: 30px;
                font-size: 16px;
                color: #7A7A7A;
            }
            .time {
                float: right;
            }
            .btn {
                padding: 0 16px;
                border: 1px solid #7A7A7A;
                float: right;
                font-size: 14px;
                line-height: 28px;
            }
        }
        .buttom {
            color: #7A7A7A;
        }
        .content_wrap {
            padding-top: 20px;
            & img {
                display: inline-block !important;
                max-width: 98% !important;
            }
        }
    }
    .share {
        width: 100%;
        padding: 3%;
        background: #fff;
        display: flex;
        border-bottom: 1px solid #F4F4F4;
        .userimg {
            width: 30px;
            height: 30px;
            border-radius: 9999px;
            margin-right: 12px;
        }
        .dec {
            flex: 1;
            .name {
                color: #7A7A7A;
                margin: 0;
                line-height: 30px;
                font-size: 16px;
            }
            .imgs_wrap {
                width: 100%;
                overflow: hidden;
                .imgs {
                    width: 32.2%;
                    background: yellow;
                    margin-right: 1%;
                    float: left;
                    margin-bottom: 1%;
                    background-size: cover !important;
                    background-position: center center !important;
                    &:before {
                        content: "";
                        display: inline-block;
                        padding-bottom: 100%;
                    }
                }
            }
            .bottom {
                width: 100%;
                overflow: hidden;
                padding: 10px 0;
                color: #7A7A7A;
                .time {
                    float: left;
                }
                .comment {
                    float: right;
                    margin-right: 0.1%
                }
            }
        }
    }
}