// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-only .title {
    line-height: 38px !important;
}

super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {
    height: 38px !important;
}

super-tabs-container {
    height: calc(100% - 40px) !important;
}

svg {
    vertical-align: text-bottom !important;
}

.bar-button-default {
    color: #fff !important;
}

//少女粉
.theme_pink {
    & .toolbar-background,
    & .toolbar-background,
    & .toolbar-content,
    & .top_ban {
        background: #fb7299 !important;
        color: #fff !important;
    }
    & .toolbar-title,
    & .back-button {
        color: #fff;
    }
    & .button-md-primary {
        background-color: #fff;
    }
    & .tab-button[aria-selected=true] .tab-button-icon {
        color: #fb7299 !important;
    }
    & ion-item {
        color: #fb7299 !important;
    }
    & .bilibili svg {
        fill: #EC6B90;
    }
    & .footer_wrap {
        color: #fff !important;
        .its svg {
            fill: #fff !important;
        }
    }
}

//夜间模式
.theme_dark {
    & .toolbar-background,
    & .toolbar-background,
    & .toolbar-content,
    & .top_ban {
        background: #2d2d2d !important;
        color: #fff !important;
    }
    & .toolbar-title,
    & .back-button {
        color: #fff;
    }
    & .button-md-primary {
        background-color: #fff;
    }
    & .tab-button[aria-selected=true] .tab-button-icon {
        color: #2d2d2d !important;
    }
    & ion-item {
        color: #2d2d2d !important;
    }
    & .bilibili svg {
        fill: #424242;
    }
    & .footer_wrap {
        color: #fff !important;
        .its svg {
            fill: #fff !important;
        }
    }
}

//姨妈红
.theme_red {
    & .toolbar-background,
    & .toolbar-background,
    & .toolbar-content,
    & .top_ban {
        background: #f44336 !important;
        color: #fff !important;
    }
    & .toolbar-title,
    & .back-button {
        color: #fff;
    }
    & .button-md-primary {
        background-color: #fff;
    }
    & .tab-button[aria-selected=true] .tab-button-icon {
        color: #f44336 !important;
    }
    & ion-item {
        color: #f44336 !important;
    }
    & .bilibili svg {
        fill: #de3e33;
    }
    & .footer_wrap {
        color: #fff !important;
        .its svg {
            fill: #fff !important;
        }
    }
}

//咸蛋黄
.theme_yellow {
    & .toolbar-background,
    & .toolbar-background,
    & .toolbar-content,
    & .top_ban {
        background: #ffc107 !important;
        color: #fff !important;
    }
    & .toolbar-title,
    & .back-button {
        color: #fff;
    }
    & .button-md-primary {
        background-color: #fff;
    }
    & .tab-button[aria-selected=true] .tab-button-icon {
        color: #ffc107 !important;
    }
    & ion-item {
        color: #ffc107 !important;
    }
    & .bilibili svg {
        fill: #ecba24;
    }
    & .footer_wrap {
        color: #fff !important;
        .its svg {
            fill: #fff !important;
        }
    }
}

//早苗绿
.theme_green {
    & .toolbar-background,
    & .toolbar-background,
    & .toolbar-content,
    & .top_ban {
        background: #8bc34a !important;
        color: #fff !important;
    }
    & .toolbar-title,
    & .back-button {
        color: #fff;
    }
    & .button-md-primary {
        background-color: #fff;
    }
    & .tab-button[aria-selected=true] .tab-button-icon {
        color: #8bc34a !important;
    }
    & ion-item {
        color: #8bc34a !important;
    }
    & .bilibili svg {
        fill: #91d83f;
    }
    & .footer_wrap {
        color: #fff !important;
        .its svg {
            fill: #fff !important;
        }
    }
}

//胖次蓝
.theme_blue {
    & .toolbar-background,
    & .toolbar-background,
    & .toolbar-content,
    & .top_ban {
        background: #2196f3 !important;
        color: #fff !important;
    }
    & .toolbar-title,
    & .back-button {
        color: #fff;
    }
    & .button-md-primary {
        background-color: #fff;
    }
    & .tab-button[aria-selected=true] .tab-button-icon {
        color: #2196f3 !important;
    }
    & ion-item {
        color: #2196f3 !important;
    }
    & .bilibili svg {
        fill: #1e8ae0;
    }
    & .footer_wrap {
        color: #fff !important;
        .its svg {
            fill: #fff !important;
        }
    }
}

//基佬紫
.theme_purple {
    & .toolbar-background,
    & .toolbar-background,
    & .toolbar-content,
    & .top_ban {
        background: #9c27b0 !important;
        color: #fff !important;
    }
    & .toolbar-title,
    & .back-button {
        color: #fff;
    }
    & .button-md-primary {
        background-color: #fff;
    }
    & .tab-button[aria-selected=true] .tab-button-icon {
        color: #9c27b0 !important;
    }
    & ion-item {
        color: #9c27b0 !important;
    }
    & .bilibili svg {
        fill: #c01fdc;
    }
    & .footer_wrap {
        color: #fff !important;
        .its svg {
            fill: #fff !important;
        }
    }
}